.dark-background > td
{
    border-spacing: 3px;
    background-color: #85E6C5;
}

table
{
    text-align: center;
    height: 200px;
    width: fit-content;

    background-color: #C8FFE0;
    border: 2px solid green;
    font-family: Arial, Helvetica, sans-serif;
}
.heading
{
    color: white;
    background-color: green;
    text-transform: uppercase;
    width: 100%;
    colspan="3" ;
    padding=0;
}
th{
    column-span: "3" ;
    padding="0";
}
td {
    padding: 15px;
}
