header
{
    width: 35%;
    margin-bottom: 50px;
}

body
{
    margin: 4px;
}
.img-wrap {
    display: inline-block;
    float: left;
    width: 20%; /* Adjust width as needed */
    position: relative;
  }
   header > div
   {
    color: #0C356A;
    font-size: 35px;
    text-transform: uppercase;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2px;
   }
   .rattleSnake
   {
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
   }
   .small-gray-text
   {
    font-size: medium;
    color:#A8A196;
   }
   .rabies
   {
    font-size: large;
    color:#7D7463;
   }
   .rabiesImg
   {
    display: block;
    margin-bottom: 20px;
    width: 30%;
   }
   ol
   {
     list-style-position: inside;   }

   p[class="rabies"] > a{
    text-decoration: underline;
   }