h1 {
  font-family: sans-serif;
  text-align: center;
  color: #facbea;
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
  background-color: #072541;
}

p {
  font-family: sans-serif;
  text-align: center;
  color: #072541;
  padding: 5px;
  margin: 20px;
}

.quote {
  color: #232d3f;
  font-size: 50px;
}
