h1
{
    text-align: center;
}

*
{
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    
    
}
.item
{
    border: 1px solid skyblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-size: 100px;
    

    
}
.X
{
    color: red;
    
    
}

.O
{
    color: blue;
    
}
