*
{
    font-family: Roboto, Helvetica, sans-serif;
}

header
{
    text-align: center;
    font-size: 16px;
    color: #444444;
    margin-bottom: 5px;
    font-weight: bold;
    
}
section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.offerTitle
{
    font-size: 14px;
    color:#ffffff;
    background-color: #00b3b3;
    padding: 15px ;
}

table
{
    background-color: #fafafa;
    color: #20262E;
    font-size: 12px;
    padding: 20px;
    width: 100%;
    border-spacing: 0
}
td
{
    width:50%;
    padding: 10px;
    background-color: white ;
    border-bottom: 1px solid #f1f1f1;
}
td + td
{
    position: relative;
    text-align: center;
    text-indent: 20px;
}

.offer
{
    width: 400px;
    margin: 5px;
    text-align: center;
    border: 1px solid #cccccc;
    display: inline-block;
}
td
{
    text-align: left;
    
    
}

.finalValue
{
    font-weight: bold;
    color: #2222ff;
}